.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
.Rproj.user
assets/qc
assets/report/renv/
assets/report/report.Rproj
.Rprofile
tests/.venv/
docs/.venv/
docs/_build


###
cache
trace*
logs/
MHI_local_*.txt
assets/mhi/hg19ToHg38.over.chain
assets/mhi/hg19ToHg38.over.chain.gz
assets/mhi/hg38ToHg19.over.chain
assets/mhi/hg38ToHg19.over.chain.gz
assets/mhi/patient_report_template.qmd
dev/bak_word.txt
dev/bak_word.txt.edtz
dev/corr_55samples_formatted.txt
dev/corr_55samples.txt
dev/ICA_notes.md
dev/ica_sample_ids.txt
dev/illumina-api-key.txt
dev/mr_gwas_analysis.md
dev/nextflow_mhi_prs_2.md
dev/projects_2025-04-29.txt
dev/test_identifiers.csv
dev/mhi-reports-bak/24-1550i.hard-filtered.gvcf.gz
dev/mhi-reports-bak/24-1550i.hard-filtered.gvcf.gz.md5sum
dev/mhi-reports-bak/24-1550i.hard-filtered.gvcf.gz.tbi
dev/mhi-reports-bak/fontawesome-webfont.ttf
dev/mhi-reports-bak/high-LD-regions-hg19-GRCh37.txt
dev/mhi-reports-bak/high-LD-regions-hg38-GRCh38.txt
dev/mhi-reports-bak/na12877i.hard-filtered.gvcf.gz
dev/mhi-reports-bak/pgsc_calc-2.0.1.zip
dev/mhi-reports-bak/pgsc_calc-2.2.0.zip
dev/mhi-reports-bak/pgsc-mhi-report_latest.tar.bz2
dev/mhi-reports-bak/pgscatalog_utils-1.4.4.tar.gz
dev/mhi-reports-bak/bak_files/patient_20-721_debug.html
dev/mhi-reports-bak/bak_files/patient_20-721_report.html
dev/mhi-reports-bak/bak_files/patient_24-1550i_report.html
dev/mhi-reports-bak/bak_files/patient_BCIA-01025256_report.html
dev/mhi-reports-bak/bak_files/patient_BCIA-03560120_report.html
dev/mhi-reports-bak/bak_files/patient_summaries.csv
dev/mhi-reports-bak/bak_files/samplesheet_ica_test.csv
dev/mhi-reports-bak/bak_files/scores.tar.gz
dev/mhi-reports-bak/ica_results/runWGS01/score/pop_summary.csv
dev/mhi-reports-bak/ica_results/runWGS01/score/report.html
dev/mhi-reports-bak/ica_results/runWGS01/score/runWGS01_info.json.gz
dev/mhi-reports-bak/ica_results/runWGS01/score/runWGS01_pgs.txt.gz
dev/mhi-reports-bak/ica_results/runWGS01/score/runWGS01_popsimilarity.txt.gz
dev/mhi-reports-bak/ica_results/runWGS01/score/versions.yml
dev/mhi-reports-bak/regenerated_reports/all_patients_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/all_patients_pgs_subset.csv.edtz
dev/mhi-reports-bak/regenerated_reports/_original_backups/_original_backups/runWGS01/patient_16-524_report.docx
dev/mhi-reports-bak/regenerated_reports/_original_backups/_original_backups/runWGS01/patient_16-524_report.html
dev/mhi-reports-bak/regenerated_reports/_original_backups/_original_backups/runWGS05/patient_25-549_report.html
dev/mhi-reports-bak/regenerated_reports/_original_backups/runWGS01/patient_16-524_report.docx
dev/mhi-reports-bak/regenerated_reports/_original_backups/runWGS01/patient_16-524_report.html
dev/mhi-reports-bak/regenerated_reports/_original_backups/runWGS01/patient_16-524_report.pdf
dev/mhi-reports-bak/regenerated_reports/_original_backups/runWGS05/patient_25-549_report.docx
dev/mhi-reports-bak/regenerated_reports/_original_backups/runWGS05/patient_25-549_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS01/patient_16-524_report.docx
dev/mhi-reports-bak/regenerated_reports/runWGS01/patient_16-524_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS01/patient_16-524_report.html.edtz
dev/mhi-reports-bak/regenerated_reports/runWGS01/patient_16-524_report.pdf
dev/mhi-reports-bak/regenerated_reports/runWGS01/patient_20-721_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS01/patient_24-1195_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS01/patient_24-1441_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS01/patient_24-1456_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS01/pgs_subset/patient_16-524_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS01/pgs_subset/patient_20-721_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS01/pgs_subset/patient_24-1195_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS01/pgs_subset/patient_24-1441_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS01/pgs_subset/patient_24-1456_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS02/patient_24-1480_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS02/patient_24-1483_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS02/patient_24-1489_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS02/patient_24-1491_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS02/patient_24-1492_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS02/patient_24-1512_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS02/patient_24-1526_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS02/patient_24-1529_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS02/patient_24-1567_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS02/patient_24-1581_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS02/pgs_subset/patient_24-1480_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS02/pgs_subset/patient_24-1483_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS02/pgs_subset/patient_24-1489_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS02/pgs_subset/patient_24-1491_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS02/pgs_subset/patient_24-1492_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS02/pgs_subset/patient_24-1512_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS02/pgs_subset/patient_24-1526_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS02/pgs_subset/patient_24-1529_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS02/pgs_subset/patient_24-1567_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS02/pgs_subset/patient_24-1581_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-1610_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-1620_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-1778_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-1782_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-1788_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-1877_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-1897_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-1901_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-1940_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-1979_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-1981_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-1983_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-1990_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-2008_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/patient_24-2078_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-1610_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-1620_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-1778_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-1782_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-1788_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-1877_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-1897_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-1901_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-1940_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-1979_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-1981_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-1983_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-1990_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-2008_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS03/pgs_subset/patient_24-2078_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_24-2090_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_24-2274_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_24-2281_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_24-2293_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_24-2314_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_24-2315_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_24-2316_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_24-2412_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_24-2449_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_24-2457_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_24-2459_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_24-2462_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_24-2463_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_25-17_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/patient_25-115_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_24-2090_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_24-2274_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_24-2281_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_24-2293_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_24-2314_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_24-2315_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_24-2316_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_24-2412_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_24-2449_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_24-2457_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_24-2459_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_24-2462_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_24-2463_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_25-17_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS04/pgs_subset/patient_25-115_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-178_report.docx
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-178_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-276_report.docx
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-276_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-299_report.docx
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-299_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-336_report.docx
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-336_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-348_report.docx
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-348_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-438_report.docx
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-438_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-445_report.docx
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-445_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-458_report.docx
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-458_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-483_report.docx
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-483_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-549_report.docx
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-549_report.html
dev/mhi-reports-bak/regenerated_reports/runWGS05/patient_25-549_report.pdf
dev/mhi-reports-bak/regenerated_reports/runWGS05/pgs_subset/patient_25-178_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS05/pgs_subset/patient_25-276_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS05/pgs_subset/patient_25-299_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS05/pgs_subset/patient_25-336_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS05/pgs_subset/patient_25-348_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS05/pgs_subset/patient_25-438_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS05/pgs_subset/patient_25-445_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS05/pgs_subset/patient_25-458_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS05/pgs_subset/patient_25-483_pgs_subset.csv
dev/mhi-reports-bak/regenerated_reports/runWGS05/pgs_subset/patient_25-549_pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/match/gvcfTest_ALL_additive_0.scorefile.gz
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/match/gvcfTest_ALL_additive_1.scorefile.gz
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/match/gvcfTest_log.csv.gz
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/match/gvcfTest_summary.csv
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/match/versions.yml
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/qc/gvcfTest_filtered.pgen
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/qc/gvcfTest_filtered.psam
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/qc/gvcfTest_filtered.pvar
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/qc/gvcfTest_process.log
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/qc/gvcfTest_samples_to_remove.txt
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/qc/gvcfTest_stats.txt
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/qc/gvcfTest.log
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/qc/gvcfTest.pgen
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/qc/gvcfTest.psam
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/qc/gvcfTest.pvar.zst
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/qc/gvcfTest.smiss
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/qc/gvcfTest.vmiss
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/qc/versions.yml
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/reports/patient_24-1550i_report.html
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/reports/patient_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/reports/subset/patient_24-1550i_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/reports/subset/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/score/gvcfTest_info.json.gz
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/score/gvcfTest_pgs.txt.gz
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/score/gvcfTest_popsimilarity.txt.gz
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/score/pop_summary.csv
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/score/report.html
dev/mhi-reports-bak/tests_allianceCa_run/gvcfTest/score/versions.yml
dev/mhi-reports-bak/tests_allianceCa_run/results20251020_1314/sample_24-1550i/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/results20251020_1314/sample_24-1550i/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/results20251020_1314/sample_24-1979/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/results20251020_1314/sample_24-1979/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/results20251020_1314/subset_reports/patient_24-1550i_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/results20251020_1314/subset_reports/patient_24-1979_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1422/sample_24-1550i/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1422/sample_24-1550i/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1422/sample_24-1979/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1422/sample_24-1979/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1422/subset_reports/patient_24-1550i_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1422/subset_reports/patient_24-1979_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1444/sample_24-1550i/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1444/sample_24-1550i/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1444/sample_24-1979/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1444/sample_24-1979/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1444/subset_reports/patient_24-1550i_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1444/subset_reports/patient_24-1979_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1943/sample_24-1550i/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1943/sample_24-1550i/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1943/sample_24-1979/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1943/sample_24-1979/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1943/subset_reports/patient_24-1550i_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-20_1943/subset_reports/patient_24-1979_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-22_1104/gvcfTestmultiple_pgs.txt.gz
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-22_1104/gvcfTestmultiple_popsimilarity.txt.gz
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-22_1104/sample_24-1550i/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-22_1104/sample_24-1550i/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-22_1104/sample_24-1979/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-22_1104/sample_24-1979/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-22_1104/subset_reports/patient_24-1550i_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-22_1104/subset_reports/patient_24-1979_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-24_0841/gvcfTestmultiple_pgs.txt.gz
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-24_0841/gvcfTestmultiple_popsimilarity.txt.gz
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-24_0841/log_scorefiles.json
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-24_0841/sample_24-1550i/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-24_0841/sample_24-1550i/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-24_0841/sample_24-1979/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-24_0841/sample_24-1979/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-24_0841/subset_reports/patient_24-1550i_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/results_2025-10-24_0841/subset_reports/patient_24-1979_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/sample_24-1550i/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/sample_24-1550i/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/sample_24-1979/pgs_subset.csv
dev/mhi-reports-bak/tests_allianceCa_run/sample_24-1979/subset_summaries.csv
dev/mhi-reports-bak/tests_allianceCa_run/subset_reports/patient_24-1550i_subset_report.html
dev/mhi-reports-bak/tests_allianceCa_run/subset_reports/patient_24-1979_subset_report.html
**/**.edtz