.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
.Rproj.user
assets/qc
assets/report/renv/
assets/report/report.Rproj
.Rprofile
tests/.venv/
docs/.venv/
docs/_build


###
cache
trace*
logs/
MHI_local_*.txt
assets/mhi/hg19ToHg38.over.chain
assets/mhi/hg19ToHg38.over.chain.gz
assets/mhi/hg38ToHg19.over.chain
assets/mhi/hg38ToHg19.over.chain.gz
assets/mhi/patient_report_template.qmd
