// singularity {
//   enabled = true
//   autoMounts = true
// }

apptainer {
  autoMounts = true
}

process {
  executor = 'slurm' 
  clusterOptions = '--account=def-rtadros --mail-type=BEGIN,END,FAIL --mail-user=ismael.henarejos-castillo@icm-mhi.org'
  maxRetries = 1
  errorStrategy = { task.exitStatus in [125,139] ? 'retry' : 'finish' }
  memory = 64.GB
  cpu = 8  
  time = '3h' 
}
  // memory = { check_max( 4.GB * task.attempt, 'memory' ) }

executor {
  pollInterval = '60 sec'
  submitRateLimit = '60/1min'
  queueSize = 100 
}

profiles {
  beluga {
    max_memory='186G'
    max_cpu=40
    max_time='168h'
  }
  narval {
    max_memory='249G'
    max_cpu=64
    max_time='168h'
  }
}

trace.overwrite = true

// notification {
//     enabled = true
//     to = 'ismael.henarejos-castillo@icm-mhi.org'
// }
